<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GentlerAdmin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="GentlerAdmin QQ406876092"/>

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- 日期插件 -->
    <link rel="stylesheet"
          href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">

    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">

    <!-- vue -->
    <script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">

<!-- [加载状态 ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ 加载状态  ] End -->

<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">

                        <div style="width: 100%;">
                            <div id="showform">
                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">二维码编号</span></span>
                                    </div>
                                    <input type="text" class="form-control" ref="QR_CODE" id="QR_CODE"
                                           v-model="pd.QR_CODE" maxlength="15" placeholder="这里输入二维码编号" title="二维码编号">
                                </div>
                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">商户ID</span></span>
                                    </div>
                                    <input type="text" class="form-control" ref="MER_ID" id="MER_ID" v-model="pd.MER_ID"
                                           maxlength="36" placeholder="这里输入商户ID" title="商户ID">
                                </div>
                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">二维码URL</span></span>
                                    </div>
                                    <input type="text" class="form-control" ref="QR_CODE_URL" id="QR_CODE_URL"
                                           v-model="pd.QR_CODE_URL" maxlength="100" placeholder="这里输入二维码URL"
                                           title="二维码URL">
                                </div>
                                <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">二维码状态</span></span>
                                    </div>
                                    <input type="text" class="form-control" ref="STATUS" id="STATUS" v-model="pd.STATUS"
                                           maxlength="1" placeholder="这里输入二维码状态" title="二维码状态">
                                </div>

                                <div class="input-group" style="margin-top:10px;background-color: white">
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
							            	</span>
                                </div>
                            </div>
                            <!-- [加载状态 ] start -->
                            <div id="jiazai" style="display:none;margin-top:50px;">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <!-- [ 加载状态  ] End -->
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ 主内容区 ] end -->

<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 日期插件 -->
<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../assets/js/pages/form-picker-custom.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<script type="text/javascript">

    var vm = new Vue({
        el: '#app',

        data: {
            ID: '',	//主键ID
            pd: [],						//存放字段参数
            msg: 'add'
        },

        methods: {

            //初始执行
            init() {
                var FID = this.getUrlKey('FID');	//当接收过来的FID不为null时,表示此页面是修改进来的
                if (null != FID) {
                    this.msg = 'edit';
                    this.ID = FID;
                    this.getData();
                }
                setTimeout(function () {
                    vm.getDict();
                }, 200);
            },

            //去保存
            save: function () {

                if (this.pd.QR_CODE == '' || this.pd.QR_CODE == undefined) {
                    $("#QR_CODE").tips({
                        side: 3,
                        msg: '请输入二维码编号',
                        bg: '#AE81FF',
                        time: 2
                    });
                    this.pd.QR_CODE = '';
                    this.$refs.QR_CODE.focus();
                    return false;
                }
                if (this.pd.MER_ID == '' || this.pd.MER_ID == undefined) {
                    $("#MER_ID").tips({
                        side: 3,
                        msg: '请输入商户ID',
                        bg: '#AE81FF',
                        time: 2
                    });
                    this.pd.MER_ID = '';
                    this.$refs.MER_ID.focus();
                    return false;
                }
                if (this.pd.QR_CODE_URL == '' || this.pd.QR_CODE_URL == undefined) {
                    $("#QR_CODE_URL").tips({
                        side: 3,
                        msg: '请输入二维码URL',
                        bg: '#AE81FF',
                        time: 2
                    });
                    this.pd.QR_CODE_URL = '';
                    this.$refs.QR_CODE_URL.focus();
                    return false;
                }
                if (this.pd.STATUS == '' || this.pd.STATUS == undefined) {
                    $("#STATUS").tips({
                        side: 3,
                        msg: '请输入二维码状态',
                        bg: '#AE81FF',
                        time: 2
                    });
                    this.pd.STATUS = '';
                    this.$refs.STATUS.focus();
                    return false;
                }
                // this.pd.CREATE_TIME = $("#CREATE_TIME").val();
                // if(this.pd.CREATE_TIME == '' || this.pd.CREATE_TIME == undefined){
                // 	$("#CREATE_TIME").tips({
                // 		side:3,
                //         msg:'请输入二维码创建时间',
                //         bg:'#AE81FF',
                //         time:2
                //     });
                // 	this.pd.CREATE_TIME = '';
                // 	this.$refs.CREATE_TIME.focus();
                // return false;
                // }
                // if(this.pd.CREATOR == '' || this.pd.CREATOR == undefined){
                // 	$("#CREATOR").tips({
                // 		side:3,
                //         msg:'请输入二维码创建人',
                //         bg:'#AE81FF',
                //         time:2
                //     });
                // 	this.pd.CREATOR = '';
                // 	this.$refs.CREATOR.focus();
                // return false;
                // }
                // this.pd.BINDING_TIME = $("#BINDING_TIME").val();
                // if(this.pd.BINDING_TIME == '' || this.pd.BINDING_TIME == undefined){
                // 	$("#BINDING_TIME").tips({
                // 		side:3,
                //         msg:'请输入二维码商户绑定时间',
                //         bg:'#AE81FF',
                //         time:2
                //     });
                // 	this.pd.BINDING_TIME = '';
                // 	this.$refs.BINDING_TIME.focus();
                // return false;
                // }
                // if(this.pd.EDITOR == '' || this.pd.EDITOR == undefined){
                // 	$("#EDITOR").tips({
                // 		side:3,
                //         msg:'请输入编辑操作人',
                //         bg:'#AE81FF',
                //         time:2
                //     });
                // 	this.pd.EDITOR = '';
                // 	this.$refs.EDITOR.focus();
                // return false;
                // }

                $("#showform").hide();
                $("#jiazai").show();

                //发送 post 请求提交保存
                $.ajax({
                    xhrFields: {
                        withCredentials: true
                    },
                    type: "POST",
                    url: httpurl + 'qrcodemer/' + this.msg,
                    data: {
                        ID: this.ID,
                        QR_CODE: this.pd.QR_CODE,
                        MER_ID: this.pd.MER_ID,
                        QR_CODE_URL: this.pd.QR_CODE_URL,
                        STATUS: this.pd.STATUS,
                        CREATE_TIME: this.pd.CREATE_TIME,
                        CREATOR: this.pd.CREATOR,
                        BINDING_TIME: this.pd.BINDING_TIME,
                        EDITOR: this.pd.EDITOR,
                        tm: new Date().getTime()
                    },
                    dataType: "json",
                    success: function (data) {
                        if ("success" == data.result) {
                            swal("", "保存成功", "success");
                            setTimeout(function () {
                                top.Dialog.close();//关闭弹窗
                            }, 1000);
                        } else if ("exception" == data.result) {
                            showException("商户二维码绑定关系", data.exception);//显示异常
                            $("#showform").show();
                            $("#jiazai").hide();
                        }
                    }
                }).done().fail(function () {
                    swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                    $("#showform").show();
                    $("#jiazai").hide();
                });
            },

            //根据主键ID获取数据
            getData: function () {
                //发送 post 请求
                $.ajax({
                    xhrFields: {
                        withCredentials: true
                    },
                    type: "POST",
                    url: httpurl + 'qrcodemer/goEdit',
                    data: {ID: this.ID, tm: new Date().getTime()},
                    dataType: "json",
                    success: function (data) {
                        if ("success" == data.result) {
                            vm.pd = data.pd;							//参数map
                            // $("#CREATE_TIME").val(data.pd.CREATE_TIME);
                            // $("#BINDING_TIME").val(data.pd.BINDING_TIME);
                        } else if ("exception" == data.result) {
                            showException("商户二维码绑定关系", data.exception);	//显示异常
                            $("#showform").show();
                            $("#jiazai").hide();
                        }
                    }
                }).done().fail(function () {
                    swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                    $("#showform").show();
                    $("#jiazai").hide();
                });
            },

            //获取数据字典数据
            getDict: function () {
            },

            //根据url参数名称获取参数值
            getUrlKey: function (name) {
                return decodeURIComponent(
                    (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null;
            }

        },

        mounted() {
            this.init();
        }
    })

</script>

</body>
</html>